.content-admin {
    padding: 15px;
  }
  
  .image-gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .content-admin {
      padding: 10px;
    }
  
    .card-title {
      font-size: 1.25rem;
    }
  
    .card-text {
      font-size: 1rem;
    }
  
    .image-gallery img {
      width: 80px;
      height: auto;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
  